html , body {
    background: #0c0c0c;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    width: 100%;
    margin-top: 0;
    height: 100%;
    margin-left: 0;
    overflow-x: hidden;
    background-image: 

        linear-gradient(0deg, rgba(255,255,255,0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);
    background-size: 40px 40px;
}
